/* Темная тема для страницы настроек Imagus (Full-style) */
/* Для userContent.css */
/* В строке ниже замените "uuid" на uuid расширения */
@-moz-document url-prefix("moz-extension://uuid") {
html {
	background: #30323C !important;
  }
body, aside {
	background: rgba(43,42,51,1) !important;
	background-color: rgba(43,42,51,1) !important;
	color: #C7C7C7 !important;
  }
textarea {
	background: #0E0F12 !important;
	background-color: #0E0F12 !important;
	color: #C7C7C7 !important;
  }
#sieve_container > .disabled > span {
	text-shadow: 0 0 5px #000000 !important;
	color: #FF5050 !important;
  }
#sieve_container > div:not(.opened) > span:hover {
	background-image: linear-gradient(to bottom,#2A2A2A,#318CE7 90%) !important;
  }
#sieve_container > div.opened {
	background-image: linear-gradient(to bottom,#2A2A2A,#318CE7 90%) !important;
  }
#sieve_container > .opened > span {
	background-image: linear-gradient(to bottom,#2A2A2A,#318CE7 90%) !important;
  }
*|*:any-link:not(svg) {
    color: #799BD5 !important
  }
*|*:any-link:not(svg):visited {
    color: #BE79D5 !important
  }
}
